header{
    top:0px;
    left: 0px;
    height: 60px;
    width: 100%;
}

header ul{
    float: left;
    padding-left: 0;
    width: inherit;
    line-height: 40px;
    color: black;
    background-color: #e6e6fa;
}

header ul li{
    float: left;
    list-style:none;
    color: white;
    padding-left: 20px;
    font-size: 18px;
}

header li:last-child{
    float:right;
    padding-right: 20px;
}

footer{float: left;
    width: 100%;
    left: 0px;
    bottom: 0;
    color: black;
    background-color: #e6e6fa;
    text-align: center;
    line-height: 60px;
}

main{
    clear: both;
}

.main-container{width:95%;
    margin: 0 auto;
    margin-top:40px;
}

table.table-bordered{
    width: 700px;
    border-collapse:collapse;
}

.error_messge{
    width:95%;
    margin: 0 auto;
    margin-top:70px;
    font-size:15px;
}

.left{float: left;
    font-size: 15px;
    width: 25%;
    height: 100%;
}

.right{
    float: left;
    width: 50%;
    height: 100%;
}

.container{
    width: 700px;
}
h3{
    font-size: 30px;
    margin-bottom: 10px;
}
table.table-bordered th{
    height: 30px;
    width: 100px;
    text-align: center;
}
table.table-bordered td{
    height: 100px;
    width: 100px;
    vertical-align:top;
    word-wrap: break-word;
}

table.table-bordered tr{
    border-top:1px solid #000;
}

table.table-bordered th:nth-of-type(1),table.table-bordered td:nth-of-type(1){
    color: #FF0000;
    background:#fff0f5;
}
table.table-bordered th:nth-of-type(7),table.table-bordered td:nth-of-type(7){
    color: #0000FF;
    background:#e0ffff;
}

.today{
    color: black;
    background: orange;　/*--日付が今日の場合は背景オレンジ--*/
}

.holiday{
    color: #FF0000;
    background:#fff0f5;
}

.password_area{ 
  display: none;
}
/** チェックONなら表示 */
input:checked ~ .password_area{
  display: block;
}

/*regist.jsの赤文字エラーの表示*/
span.error_m {
    font-size: 15px;
	font-weight: normal;
	color: #FF0000;
    display: block;
    margin: 0;
}

/*regist_complete.phpアカウント登録完了画面装飾*/
h4{
    font-size: 30px;
}
.back-top{
    text-align: center;
}
/*regist_confirm.phpアカウント登録確認画面装飾*/
.kakunin{
    text-align: center;
}
/*regist.phpアカウント登録画面装飾*/
.textarea{
    font-size: 15px;
	font-weight: normal;
    padding-left: 10px;
}
.textarea_box{
    font-size: 15px;
	font-weight: normal;
    padding-left: 10px;
}

table.loginbutton{
    width: 500px;
}
table.loginbutton td{
    float: right;
}


table.box{
    width: 500px;
    border-collapse:collapse;
}
table.box td:nth-of-type(1){
    width: 150px;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    background-color: #87cefa;
}

table.box tr{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

table.box2{
    width: 500px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
}

table.box2 td:nth-of-type(1){
    width: 150px;
    padding: 10px;
    text-align: center;
    border-right: 1px dashed #000;
}

table.box2 tr{
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}

table.button{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}


/*login.phpでのエラーの際の文言*/
h7{
    color: red;
}
